<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= game.title %>">
  </div>
  <div class="form-item">
    <label>Console</label>
    <select name="console">
      <% consoles.forEach(console => { %>
        <% if (console.id === game.console) { %>
          <option selected label="<%= console.name %>" value="<%= console.id %>">
        <% } else { %>
          <option label="<%= console.name %>" value="<%= console.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Release Date</label>
    <input type="date" name="releaseDate"
          value="<%= game.releaseDate == null ? '' : game.releaseDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Hour Length</label>
    <input type="number" name="hrsLong" min="1" value="<%= game.hrsLong %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="game-cover filepond">
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= game.description %></textarea>
  </div>
</div>