<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= game.title %>">
  </div>
  <div class="form-item">
    <label>Console</label>
    <select name="console">
      <% consoles.forEach(console => { %>
        <% if (console.id === game.console) { %>
          <option selected label="<%= console.name %>" value="<%= console.id %>">
        <% } else { %>
          <option label="<%= console.name %>" value="<%= console.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Start Date</label>
    <input type="date" name="startDate"
          value="<%= game.startDate == null ? '' : game.startDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Hour Length</label>
    <input type="number" name="hrsLong" min="1" value="<%= game.hrsLong %>">
  </div>
  <div class="form-item">
    <label>Current Hours</label>
    <input type="number" name="currHrs" min="1" value="<%= game.currHrs %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Completed?</label>
    <input type="checkbox" name="completed" class="check" 
          value="<%= game.completed %>">
  </div>
  <div class="form-item">
    <label>Currently Playing?</label>
    <input type="checkbox" name="nowPlaying" class="check" 
          value="<%= game.nowPlaying %>">  
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="game-cover filepond">
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= game.description %></textarea>
  </div>
</div>