<h2>Search Consoles</h2>
<form action="/consoles" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Search</button>
</form>
<br>
<% consoles.forEach(console => { %>
  <div><%= console.name %></div>
  <a href="/consoles/<%= console.id %>">View</a>
  <a href="/consoles/<%= console.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm',
              { url: `/consoles/${console.id}` }) %>
<% }) %>